@page "/contact"
<PageTitle>Contacto</PageTitle>
<div style="display:flex ; align-items: center; justify-content: center; text-align: center; flex-direction: column;color: black;
padding-top: 5%; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji">
    <h3>Contacto</h3>

    <label for="">Nombre completo:
        <input type="text" @bind="nombre"/></label>
    <label for="">Correo electronico:
        <input type="text" @bind="correo"/></label>
    <label for="">Numero de contacto:
        <input type="text" @bind="numero"/></label>
    <label for="">Comentarios:       
        <textarea name="" id="" cols="auto" rows="auto" @bind="comentarios"></textarea>
    </label>
    <button @onclick="respuestaContacto">Enviar</button>
    @if (@muestraMensaje)
    {
        <h1>Hola soy, @nombre, Quiero contactarme con ustedes por lo siguiente: <br> @comentarios.<br>

        Pueden comunicarse conmigo en:<br>

        Correo electrónico: @correo<br>

        Teléfono: @numero</h1>
    }
    
</div>

@code {

    public bool muestraMensaje = false;    
    public String? nombre{ get; set; }
    public String? correo{ get; set; }
    public String? numero{ get; set; }
    public String? comentarios{ get; set; }
    

    

    public void respuestaContacto(){
        muestraMensaje = !muestraMensaje;
        
    }
}
