@page "/products"
<PageTitle>Producto</PageTitle>
<style>
    .link_producto:hover{
        background-color: #f1b883;
        transform: scale(1.2);
    } .link_producto{
        text-decoration: none; 
        text-align: center; 
        background-color:#fbd4b0; 
        margin-bottom: 50px;
        margin-right:10px; 
        border-radius: 15px;
    }
</style>
<h3 style="color: #F17353; text-align:center; font-size: 5rem">Productos</h3>
<div style="display:flex;
  justify-content: space-between;;
  align-items:center;
  flex-wrap:wrap;
  font-family: Helvetica, sans-serif;
  padding:8%;">
    
    @foreach (var producto in ListProducts)
    {   <a href="producto_/@producto.id" class="link_producto" >
        <div style=" width: 350px ;height :300px; color:#F17353;margin : 10px; padding:5px;">
            <h2 style="font-weight: bold;">@producto.Name</h2>
            <img src="https://elnorte.com.co/wp-content/uploads/2021/02/canasta-familiar.jpg" alt="" style="height: 150px;">
            <h4>@producto.Code</h4>
            <h4>$ @producto.Price</h4>
        </div> 
        </a>
    }

</div>


@code {
    @using PageProducts.Data;
    
    static int  cont= 0;
    
    private static List<Product> ListProducts = new List<Product>();
    
    protected override void OnInitialized()
    {
        var pd = new InMemoryProducts();
        ListProducts = pd.getProducts();
        cont = ListProducts.Count; 
    }
    
   
}
