@page "/products"
<PageTitle>Producto</PageTitle>
<h3 style="color: #F17353; text-align:center">Products</h3>
<h3>@cont</h3>
<div style="display:flex;
  justify-content: space-between;;
  align-items:center;
  flex-wrap:wrap;">
    
    @foreach (var producto in ListProducts)
    {   <a href="producto_/@producto.id" >
        <div style=" width: 350px ;height :300px; color:#F17353;margin : 30px; padding:20px">
            <h2>@producto.Name</h2>
            <img src="https://elnorte.com.co/wp-content/uploads/2021/02/canasta-familiar.jpg" alt="" style="height: 150px;">
            <h4>@producto.Code</h4>
            <h4>@producto.Price</h4>
        </div> 
        </a>
    }

</div>


@code {
    @using PageProducts.Data;
    
    static int  cont= 0;
    
    private static List<Product> ListProducts = new List<Product>();
    
    protected override void OnInitialized()
    {
        var pd = new InMemoryProducts();
        ListProducts = pd.getProducts();
        cont = ListProducts.Count; 
    }
    
   
}
