@inherits LayoutComponentBase

<PageTitle>PageProducts</PageTitle>

<div class="page">
    <div class="top-row">
        <NavMenu/>
    </div>
    <article class="content px-3">
        @Body
    </article>
</div>
